<a href="https://colab.research.google.com/github/jhmoon19/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문: For, If

# 제어문(Syntax)

# 1) Loop(for)
                
# 2) condition(if)

In [ ]:
a = [1,2,3,4]
for i in a:     # 이때 루프 몇번을 도는가? 4번 
  print(i)

1
2
3
4

In [ ]:
for i in range(3):    # range(3): 0, 1, 2를 만들어냄.
  print(i)            # range(3) = [0, 1, 2]

0
1
2

In [ ]:
a = [1,2,3,4]
for i in range(4):  # 0,1,2,3 만들어냄
  print(a[i])

1
2
3
4

i는 차례대로 0, 1, 2, 3 값들이 대입되는 것임.

-> a[0], a[1], a[2], a[3] 순서대로 값을 도출

In [3]:
a = [1,2,3,4]
for i in range(0, 4):  # 0,1,2,3 만들어냄  # 0부터 4이전까지 
  print(a[i])

1
2
3
4

In [4]:
a = [1,2,3,4]
for i in range(1, 4):  # 1,2,3 만들어냄
  print(a[i])

2
3
4

In [5]:
a = [1,2,3,4]
for i in range(1, 5):  # IndexError a[4]가 존재하지 않아서 
  print(a[i])

2
3
4

IndexError: ignored

In [6]:
a = [1,2,3,4]
for i in range(1, 5, 2):  # 1부터 4까지 두칸을 띄어라 
  print(a[i])

2
4

In [7]:
a = [1,2,3,4]
for i in range(0,4,2):  # 0부터 3까지 두칸을 띄어라. 
  print(a[i])

1
3

In [9]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(0, 10, 1):  # range(0, 10) = range(0, 10, 1)
  print(a[i])

1
2
3
4
5
6
7
8
9
10

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(0, 10, 3):  0부터 9까지 세칸띄움 
  print(a[i])

1
4
7
10

in 리스트 

in range() -> 숫자 하나, 두개, 세개

## 다음시간에 enumerate, format함수, 이중 for, 리스트 속의 for

In [1]:
a = [1,2,3,4]
for i in range(len(a)):
  print(a[i])

1
2
3
4

In [2]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
  print(i)

red
green
blue
purple

In [11]:
a = 0     # assign해주는 것 
if a ==0:   # 실제 equal, "같다"/ a가 0과 같다 / 0은 0과 같다 --> True 
  print(a)
else:
  print(a+1)

0

In [12]:
a = 1
if a ==0:  
  print(a)
else:
  print(a+1)

2

In [13]:
a = 1
if a ==0:  
  print(a)    # 아무것도 안나옴.

# 이중 For

In [14]:
for i in range(1,3):      # 1,2 도는 상태에서  
  for j in range(3,5):    # 각각 3,4 두번 돎
    print(i*j)

3
4
6
8

## 이중 for과 if

In [15]:
for i in range(1,3):    # 1,2 도는 상태에서 
  for j in range(3,5):  # 각각 3,4 루프를 도는데
    if j >= 4:          # j가 4이상일때만 (총 if문 4번 실행되는 것임.) 
      print(i*j)        # i*j 출력

4
8

In [18]:
a = [1,2,3,4]
b = [i for i in a if i >= 2]  # i에 루프를 도는데, 2이상일 때만, i
b

[2, 3, 4]

In [24]:
a = [1,2,3,4]
for i in a:
  if i >= 2:
    print(i)

2
3
4

In [25]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >= 4]   # 루프가 리스트 속에 들어가서 결과를 리스트로 출력하는것
b

['green', 'blue', 'purple']

In [26]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
  if len(i)>= 4:
    print(i)

green
blue
purple