<a href="https://colab.research.google.com/github/jhmoon19/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.15. 변수

In [1]:
a = 1; print(type(a))

<class 'int'>

한줄에 쓰고 싶으면, 세미콜론 쓰기!

가능한한 여러줄에 예쁘게!

In [5]:
a = 1; a = float(a); print(type(a))
# float(a)를 통해서 실수형태로 바꿈!!
print(a)

<class 'float'>
1.0

In [2]:
a = 1
a
b = 2
b
c = 3
c

3

여러줄에 그냥 쓰면 마지막줄만 출력이됨.

In [3]:
a = 1
print(a)
b = 2
print(b)
c = 3
print(c)

1
2
3

프린트를 써야 모두 출력이 됨.

In [6]:
a = 1.2; a= int(a); print(type(a))
print(a)

<class 'int'>
1

### 인덱싱

In [7]:
a = '123'; print(type(a)); print(a[1])
# a[1]은 문자열에서 두번째 위치 의미!

<class 'str'>
2

In [9]:
a = 'korea'
a[0], a[1]

('k', 'o')

In [10]:
a= '1,2,3'
a = list(a)
a

['1', ',', '2', ',', '3']

In [12]:
a = '123'
print(type(a))
a = list(a)
a
print(type(a))

<class 'str'>
<class 'list'>

### 리스트

In [14]:
a = ['ab', 'cde', 'jky']
# 리스트 안에 문자열, 숫자 어떠한 형태 들어와도 상관없음
# 리스트 안에 리스트 가능 
a = [1, 'cde', [1,3]]

In [15]:
a = [1,'2',[3,'4']]
print(type(a))
print(a[0])
print(a[1])
print(a[2])

<class 'list'>
1
2
[3, '4']

In [17]:
a = (1,'2',[3,'4'])   # 튜플
print(type(a))
print(a[0])
print(a[1])
print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [18]:
a = [1,2,3]
a[0] = -1
a

[-1, 2, 3]

In [19]:
a = (1,2,3)
a[0] = -1
a           # 튜플은 바꿀수가 없음!! 더 안전함. 실수방지

TypeError: ignored

In [23]:
a = {"a":"apple", "b":"orange", "c":2014}
print(type(a))
a["a"]    # a[0]은 오류발생!!! 싱글코드로 바꿀수있음.
a['c'] = 2021
a

<class 'dict'>

{'a': 'apple', 'b': 'orange', 'c': 2021}